*{
    padding: 0;
    margin: 0;
}

.myContainer{
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.myContainer .option-container{
    padding: 50px;
    width: 25%;
    flex-direction: column;
    background-color: rgb(238, 238, 238);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 10px solid #008FC8;
    border-left: 10px solid #008FC8;
    border-right: 10px solid #B41C1B;
    border-bottom: 10px solid #B41C1B;
    /* border-radius: 10px; */
    box-shadow: 10px 10px 10px 0px rgba(179,179,179,1);
}


.myContainer .option-container .tombol button{
    width: 75px;
    height: 35px;
    border: none;
    color: white;
    /* border-radius: 10px; */
    font-family: 'Open Sans', serif;
}

.myContainer .option-container .btn-keluar{
    background-color: #B41C1B;
}

.myContainer .option-container .btn-masuk{
    background-color: #008FC8;
}

.myContainer #masuk-container .modal-header{
    background-color: #008FC8;
    color: white;
}

.myContainer #masuk-container .btn-masuk{
    background-color: #008FC8;
    color: white;
}

.myContainer #keluar-container .modal-header{
    background-color: #B41C1B;
    color: white;
}

.myContainer #keluar-container .btn-keluar{
    background-color: #B41C1B;
    color: white;
}

.myContainer .modal input::placeholder{
    color: lightgray;
}