@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=PT+Serif&family=Roboto+Condensed:wght@300&display=swap');

body {
    margin-top: 40px;
    background-color: rgb(203, 208, 211);
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    color: rgb(231, 143, 28);

}


.result_jumbotron {
    padding: 20px 15px 20px 15px;
    border-radius: 5px;
    box-shadow: 6px 10px 14px -3px #c0c0c0;
    margin-left: 33%;
    margin-right: 33%;
}

.list {
    padding: 10px;
    margin-top: 0em;
    font-family: 'Noto Sans', sans-serif;
}
p{
    font-size: 12px;
    margin: 0;  
}
img{
    margin-top: 40px;
    margin-left:85px;
    height: 100px;
    width: 50%;
}
